main {
  @include flex(center, flex-start);

  > section {
    width: 50%;
  }
}

header {
  @include flex(space-between, center);
  padding: 20px 40px;
  background-color: #394fb3;
  color: #fff;
  font-family: $primaryFont;
}
